{% extends "OlavaFletesApp/base.html" %}

{% load static %}

{% block changesContent %}

{% for welcome in welcomes %}
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="{{ welcome.imagen.url }}" alt="..." />
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <p class="text-black-50 mb-0">{{ welcome.contenido }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

<div style="background-color: brown; text-align: center; border-color: black;">

    {% if "valido" in request.GET %}

        <p style="color:white"  >Informacion enviada correctamente, gracias</p>

    {% endif %}
    
    <form action="" method="POST" style="text-align: center;">
    
        {% csrf_token %}

        <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
        <input type="submit" value="Enviar" style="width: 150px; margin: 0 auto; display: block;">

    </form>

</div>

<section class="contact-section" style="background-color:brown !important;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Direccion</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50" style="color: black;">Juan XXIII 1802</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="mailto:pazosmatias449@gmail.com" style="color: black;">pazosmatias449@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Telefono</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="https://wa.me/542284553624" style="color: black;">+54 2284-553624</a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}