{% extends "OlavaFletesApp/base.html" %}

{% load static %}

{% block changesContent %}

    <section class="hero">
      <div class="container-large">
        <div class="hero__img">
          <img
            src="{% static 'OlavaFletesApp/assets/car-1280.jpg'%}"
            alt="camioneta de fletes"
          />
        </div>
        <div class="container">
          <h1 class="hero__title">
            Realizamos fletes en la localidad de Olavarría
          </h1>
        </div>
      </div>
    </section>

    <section id="services" class="services">
        <div class="container-large">
          <h2 class="services__title">Servicios</h2>
          <div class="carrousel">
            <div
              class="swiffy-slider slider-item-reveal slider-nav-visible slider-nav-round"
            >
              <ul class="slider-container">
                <li>
                  <img
                    src="{% static 'OlavaFletesApp/assets/car-1280.jpg'%}"
                    style="max-width: 100%; height: auto"
                  />
                </li>
                <li>
                  <img
                    src="{% static 'OlavaFletesApp/assets/car-1280.jpg'%}"
                    style="max-width: 100%; height: auto"
                  />
                </li>
                <li>
                  <img
                    src="{% static 'OlavaFletesApp/assets/car-1280.jpg'%}"
                    style="max-width: 100%; height: auto"
                  />
                </li>
              </ul>
              <button type="button" class="slider-nav"></button>
              <button type="button" class="slider-nav slider-nav-next"></button>
              <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                <button></button>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="about-us" class="about-us">
      <div class="container">
        <div class="about-us__info">
          <h2 class="about-us__info__title">Nuestros datos</h2>
          <div class="about-us__items">
            <div class="about-us__item row">
              <img
                class="icon"
                src="{% static 'OlavaFletesApp/assets/phone_call_icon.svg'%}"
                alt="phone call icon"
              />
              <p>+54 2284-553624</p>
            </div>
            <div class="about-us__item row">
              <img
                class="icon"
                src="{% static 'OlavaFletesApp/assets/email_icon.svg'%}"
                alt="email icon"
              />
              <p>pazosmatias449@gmail.com</p>
            </div>
            <div class="about-us__item row">
              <img
                class="icon"
                src="{% static 'OlavaFletesApp/assets//location_map_marker_icon.svg'%}"
                alt="location map marker icon"
              />
              <p>Juan XXIII 1802</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact">
      <div class="container">
        <div class="contact-form">
          <h2 class="contact-form__title">Envíanos un mensaje</h2>
          <form action="" method="POST">
            <div class="contact-form__item">
              <label for="name">Nombre:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="contact-form__item">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="contact-form__item">
              <label for="message">Mensaje:</label>
              <textarea
                id="message"
                name="message"
                rows="4"
                required
              ></textarea>
            </div>
            <input class="submit-btn" type="submit" value="Enviar" />
          </form>
        </div>
      </div>
    </section>

{% endblock %}